body {
    background: url(img/espacio.jpg);

}


html {
    margin: 0px;
}



.screen {

    display: flex;
    padding: 0;
    height: 100vh;
    background-size: cover;
    margin-right: 0;
    margin-left: 0;
    box-sizing: border-box;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
    align-content: space-around;
}

#game {
    text-align: center;
    border-radius: 10%;
    border: 5px solid;
    background-color: rgb(87, 74, 74);
    max-width: 90vh;
    margin: 2vh auto;
}

.name {
    display: flex;
    color: rgb(55, 134, 186);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    margin-top: 10%;
}

.players {
    display: flex;
    justify-content: center;
    margin-top: 70%;
}

.alinacionJugador{
    flex-wrap: wrap;
    justify-content: center;
}


.confColumJ{
    display: flex;
    max-width: 20vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.instructions {
    display: flex;
    justify-content: center;
    margin-top: 70%;
    
}

.instructionsGame {
    color: rgb(183, 223, 246);
}


.return {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    
}

.btn1{
    width: 20vh;
    left: 3vh;
    background-color: rgb(113, 115, 220);
    border-style:ridge;
  
}

.colum0 {

    display: flex;
    justify-content: center;
    letter-spacing: 10vh;
    font-size: x-large;
    margin-top: 10vh;
}


header,
footer {
    padding: 2vh;
}

main {
    margin: 5vh auto;
}

.try {
    display: flex;
    justify-content: space-around;
}


.left,
.right {
    display: flex;
}

.left>div,
.right>div {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: dimgrey;
    margin: 3vh;
}



.select {
    
    display: inline-block;
    overflow: hidden;
}

.select select {
    width: 5vh;
    height: 5vh;
    border: 0vh;
    outline: none;

}

input[type-button] {
    cursor: pointer;
    color: rgb(245, 240, 255);
    border-radius: 50vh;
    height: 5vh;
    width: 10vh;
    margin: 2vh auto;
    transition: 0.5s;

}

select:hover,
input:hover {
    opacity: 0.8;
   
}

input[type-button]:active {
    background-color: rgb(231, 201, 238);
}